/* Generic */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #393d41;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.65; 
}

/* Header */

header {
    line-height: 1.5;
    text-align: center;
}

header h1 {
    color: #25a2c3;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0;
    padding: 2vh 10vw 0 10vw;
    line-height: 1.2;
    font-size: 1.9em;
    font-weight: 700;
}

header button {
    color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    background-color: #f04c2f;
    border: none;
    padding: 1.5vh 7vw;
    border-radius: 5px;
}

#headertop {
    background-color: black;
    text-align: center;
    padding: 3.5vh 0;
}

#headerbottom {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 50% 50%;
    padding: 5vh 10vw;
}

/* Main 1*/

.maintop {
    text-align: center;
    padding: 8vh 0 4vh 0;
}

.pmaintop {
    padding: 0 10vw 2.5vh 10vw;
    margin: 0;
}

.bluetitle {
    color: #25a2c3;
    font-weight: 700;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 1.5vh 0;
    margin: 0;
}

#roundimage {
    padding: 0 0 2vh 0;
    max-width: 55%;
    border-radius: 50%;
}

/* Main 2*/

.mainmid {
    text-align: center;
    color: white;
    font-weight: 400;
    background-color: #e22d0e;
    padding: 3vh 0 4vh 0;
    margin: 0 0 8vh 0;
}

.mainmid h2 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    font-size: 1.9em;
}

#mariorossi {
    font-size: 1.2em;
    margin-bottom: 0;
}

#epicodeceop {
    font-size: 0.75em;
    margin-top: 0;
}

/* Main 3*/

.mainbottom {
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 10vh;
}

.bluetitlebot {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.boxedcontainer {
    margin: 2vh 7vw 4vh 7vw;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-bottom: 2vh;
}

.boxedcontainer p {
    padding: 0 6vw 0 6vw;
}

.botimages {
    width: 100%;
}

/* Footer */

footer {
    background-color: #22AACC;
    text-align: center;
    padding: 2vh 0 9vh 0;
}

.divflex {
    display: flex;
    justify-content: center;
}

footer a:link,footer a:visited,footer a:active,footer a:hover,footer ,footer p,footer address {
    color: white;
    font-weight: 300;
}

footer h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.9em;
    margin-bottom: 2vh;
}

footer address {
    font-style: normal;
}

.svgicons {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(105%) contrast(102%);
    width: 25px;
    padding-right: 3px;
}

#copyright {
    font-size: 0.8em;
    margin: 3vh 27vw 0 27vw;
    padding: 3vh 0 0 0;
    border-top: 1px solid white;
}